# macOS
.DS_Store

# IDEs and editors
.idea/
.vscode/
.metals/

# Build tools
.bloop/
.bsp/
.scala-build/
target/
project/target/

# Local services
pgdata/
.env

# Metals generated sbt files
project/metals.sbt
project/project/
